.bookmark {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.bookmark a {
  width: 400px;
  height: 24px;
  line-height: 22px;
  border-radius: 3px;
  margin: 0;
  padding: 0 6px;
  color: black;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: 0;
  transition-duration: 0.1s;
}

.bookmark a:hover {
  background-color: var(--ui-color);
  cursor: pointer;
}

.bookmark a:focus {
  background-color: var(--ui-focus-color);
}

.bookmark a:active {
  background-color: var(--ui-active-color);
}
