.bookmark-folder {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.bookmark-folder p {
  margin: 0;
}

.bookmark-folder button {
  width: 400px;
  height: 24px;
  border-radius: 3px;
  margin: 0;
  border: 0;
  background-color: white;
}

.bookmark-folder button:hover {
  background-color: hotpink;
  cursor: pointer;
}
