.bookmark-folder {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.bookmark-folder p {
  margin: 0;
}

.bookmark-folder button {
  width: 400px;
  height: 24px;
  border-radius: 3px;
  margin: 0;
  border: 0;
  background-color: white;
  outline: 0;
  transition-duration: 0.1s;
}

.bookmark-folder button:hover {
  background-color: var(--ui-color);
  cursor: pointer;
}

.bookmark-folder button:focus {
  background-color: var(--ui-focus-color);
}

.bookmark-folder button:active {
  background-color: var(--ui-active-color);
}
