.bookmark-box {
  display: grid;
  justify-content: center;
  grid-template-columns: 100px max-content 100px;
  padding: 1rem 0;
  gap: 1rem;
}

.bookmark-box>.search-box {
  align-self: start;
}

.bookmark-box>.bookmark-list-container {
  grid-column: 1 / span 3;
}
