.bookmark-list-container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: auto;
}

.bookmark-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border: 1px solid lightgray;
  border-right: none;
  border-radius: 6px;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 4px 0;
}

.bookmark-list::-webkit-scrollbar {
  width: 12px;
}

.bookmark-list::-webkit-scrollbar-thumb {
  background-color: var(--ui-color);
  border: solid 2px lightgray;
  border-radius: 5px;
}

.bookmark-list::-webkit-scrollbar-track {
  background-color: lightgray;
  border-radius: 5px;
}

.back-button {
  position: absolute;
  top: 0;
  left: -45px;
}
